<h2>Post </h2>

<div class="jumbotron">
  <h1 class="display-4">Post id = <%= @row['id'] %></h1>
  <p class="lead"><%= @row['created_date'] %></p>
  <hr class="my-4"><p><%= @row['content'] %></p>
</div>

<h2>Comments:</h2>

<br>

	<% @comments.each do |comment| %>
		<div class="jumbotron jumbotron-fluid">
		  <div class="container">
		    <h1 class="display-4"><%= comment['id'] %></h1>
		    <p class="lead"><%= comment['created_date'] %></p>
		    <p class="lead"><%= comment['content'] %></p>
		  </div>
		</div>
	<% end %>

	<form action="/post/<%= @row['id'] %>" method="POST">
		<div class="form-group">
		    <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="7" placeholder="Type comment text here"></textarea>
		</div>
		<button type="submit" class="btn btn-primary">Add comment</button>
	</form>

<br>